<div style="margin-top: 20px">
  <div class="text-center mt-5 mb-3">
    <h1 class="display-2" style="font-weight: 400">
      Connection Details -<small class="text-body-secondary"> Grid Mode</small>
    </h1>
    <h5 style="margin-top: -6px; font-weight: 400">View/Search the records in a grid experience.</h5>
  </div>

  <div class="container">
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded border-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-5 col-md--5">
            <mat-form-field class="custom-mat-form-field">
              <mat-label>Search - Application ID</mat-label>
              <input #idInput type="number" matInput placeholder="Search with Applicantion ID" (input)="onInputChanged()">
            </mat-form-field>

          </div>
          <div class="col-12 col-sm-12 col-lg-5 col-md--5">

            <mat-form-field class="custom-mat-form-field">
              <mat-label>Search - Application date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-lg-2 col-md-2">
            <span class="mb-2" style="float: left;"> <button mat-raised-button (click)="handleDateSearch()">Search with range</button></span>

            <span style="float: left;"> <button mat-raised-button (click)="resetSearch()">Rest Search</button></span>
          </div>
        </div>
      </div>




      <div class="row text-center">
        <div class="col">
          <div class="table-responsive">

            <table class="table table-hover table-striped">
              <thead class="table-light">
                <tr>
                  <th scope="col">Application ID</th>
                  <th scope="col">Application Date</th>
                  <th scope="col">Applicant Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Load(Kv)</th>
                  <th scope="col">Ownership</th>
                  <th scope="col">State</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="isConnectionDtlsAvailable; else noResults">
                <tr *ngFor="let user of connectionDtls">
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.dateOfApplication}}</td>
                  <td>{{user.applicantName | capitalFirstLetter}}</td>
                  <td>{{user.category}}</td>
                  <td>{{user.loadApplied}}</td>
                  <td>{{user.ownership | capitalFirstLetter}}</td>
                  <td>{{user.state | capitalFirstLetter}}</td>
                  <td>{{user.status}}</td>
                  <td>
                    <span *ngIf="user.id != null" class="edit-icon" (click)="openUserModal(user)">
                      <mat-icon>edit</mat-icon>
                    </span>
                  </td>
                </tr>
              </tbody>
              
              <ng-template #noResults>
                <tbody>
                  <tr class="text-center">
                    <td colspan="9">No Results Found.</td>
                  </tr>
                </tbody>
              </ng-template>

            </table>


            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item" [ngClass]="{disabled: isPrevDisabled}">
                  <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link">{{currentPage + 1}}</a></li>
                <li *ngIf="currentPage + 2 <= totalPages" class="page-item"><a (click)="goToPage(currentPage + 1)"
                    class="page-link">{{currentPage + 2}}</a></li>
                <li *ngIf="currentPage + 3 <= totalPages" class="page-item"><a (click)="goToPage(currentPage + 2)"
                    class="page-link">{{currentPage + 3}}</a></li>
                <li class="page-item" [ngClass]="{disabled: isNextDisabled}">
                  <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
                </li>
                &nbsp; &nbsp;
                <div class="total-pages mt-2 justify-content-start">
                  Total Page(s): {{ totalPages >= 0 ? totalPages : 0 }}
                </div>
              </ul>
              
            </nav>
          </div>
        </div>
      </div>








    </div>
    <!-- grid-dashboard.component.html -->






  </div>
</div>

<br><br><br>